Repository connext/monorepo, pull requests merged in 2022-09, with the labels that each got.

#1854 1837 address0 debug
  packages/agents/router/src/tasks/subscriber/operations/execute.ts
  packages/agents/router/test/subscriber/operations/execute.spec.ts
  packages/agents/sdk/src/sdkBase.ts
  packages/agents/sequencer/src/lib/helpers/auctions.ts
  packages/agents/sequencer/src/lib/operations/execute/fastpath.ts
  packages/agents/sequencer/test/lib/helpers/auctions.spec.ts
  packages/agents/sequencer/test/lib/operations/execute/fastpath.spec.ts
  packages/deployments/contracts/contracts/test/BridgeRouter.sol
  packages/deployments/contracts/contracts/test/TokenRegistry.sol
  packages/deployments/contracts/contracts_forge/Connext.t.sol
  packages/deployments/contracts/contracts_forge/LiveTest.t.sol
  packages/deployments/contracts/src/typechain-types/factories/contracts/test/BridgeRouter__factory.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/test/TokenRegistry__factory.ts
  packages/integration/test/local.spec.ts
Labels: Bug

#1842 1835 slippage percentage
  packages/deployments/contracts/abi/contracts/core/connext/facets/BridgeFacet.sol/BridgeFacet.json
  packages/deployments/contracts/abi/contracts/core/connext/facets/PortalFacet.sol/PortalFacet.json
  packages/deployments/contracts/abi/contracts/core/connext/interfaces/IConnextHandler.sol/IConnextHandler.json
  packages/deployments/contracts/abi/hardhat-diamond-abi/HardhatDiamondABI.sol/ConnextHandler.json
  packages/deployments/contracts/contracts/core/connext/facets/BaseConnextFacet.sol
  packages/deployments/contracts/contracts/core/connext/facets/BridgeFacet.sol
  packages/deployments/contracts/contracts/core/connext/facets/NomadFacet.sol
  packages/deployments/contracts/contracts/core/connext/facets/PortalFacet.sol
  packages/deployments/contracts/contracts/core/connext/interfaces/IConnextHandler.sol
  packages/deployments/contracts/contracts/core/connext/libraries/AssetLogic.sol
  packages/deployments/contracts/contracts/core/connext/libraries/LibConnextStorage.sol
  packages/deployments/contracts/contracts_forge/Connext.t.sol
  packages/deployments/contracts/contracts_forge/LiveTest.t.sol
  packages/deployments/contracts/contracts_forge/core/connext/facets/BridgeFacet.t.sol
  packages/deployments/contracts/contracts_forge/core/connext/facets/NomadFacet.t.sol
  packages/deployments/contracts/contracts_forge/core/connext/facets/PortalFacet.t.sol
  packages/deployments/contracts/contracts_forge/core/connext/libraries/AssetLogic.t.sol
  packages/deployments/contracts/contracts_forge/messaging/connectors/multichain/MultichainSpokeConnector.t.sol
  packages/deployments/contracts/contracts_forge/utils/FacetHelper.sol
  packages/deployments/contracts/src/typechain-types/contracts/core/connext/facets/BridgeFacet.ts
  packages/deployments/contracts/src/typechain-types/contracts/core/connext/facets/NomadFacet.ts
  packages/deployments/contracts/src/typechain-types/contracts/core/connext/facets/PortalFacet.ts
  packages/deployments/contracts/src/typechain-types/contracts/core/connext/helpers/index.ts
  packages/deployments/contracts/src/typechain-types/contracts/core/connext/interfaces/IConnextHandler.ts
  packages/deployments/contracts/src/typechain-types/contracts/core/connext/interfaces/index.ts
  packages/deployments/contracts/src/typechain-types/contracts/core/index.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/core/connext/facets/AssetFacet__factory.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/core/connext/facets/BaseConnextFacet__factory.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/core/connext/facets/BridgeFacet__factory.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/core/connext/facets/NomadFacet__factory.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/core/connext/facets/PortalFacet__factory.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/core/connext/facets/ProposedOwnableFacet__factory.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/core/connext/facets/RelayerFacet__factory.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/core/connext/facets/RoutersFacet__factory.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/core/connext/facets/StableSwapFacet__factory.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/core/connext/facets/SwapAdminFacet__factory.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/core/connext/facets/VersionFacet__factory.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/core/connext/facets/upgrade-initializers/DiamondInit__factory.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/core/connext/helpers/index.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/core/connext/interfaces/IConnextHandler__factory.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/core/connext/interfaces/index.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/core/connext/libraries/AssetLogic__factory.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/core/index.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/core/relayer-fee/RelayerFeeRouter__factory.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/test/TokenRegistry__factory.ts
  packages/deployments/contracts/src/typechain-types/factories/hardhat-diamond-abi/HardhatDiamondABI.sol/ConnextHandler__factory.ts
  packages/deployments/contracts/src/typechain-types/hardhat-diamond-abi/HardhatDiamondABI.sol/ConnextHandler.ts
  packages/deployments/contracts/src/typechain-types/index.ts
Labels: contracts, Subtask

#1861 1289 sequencer cache needs to be cleared on successful transfers
  packages/adapters/cache/src/lib/caches/auctions.ts
  packages/agents/sequencer/src/bindings/subscriber/auctions/index.ts
Labels: cache

#1912 Add indexes to messages and transfers
  packages/agents/cartographer/poller/db/migrations/20220920101730_messages_transfers_indexes.sql
  packages/agents/cartographer/poller/db/schema.sql
Labels: cartographer
